<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/darkly/bulmaswatch.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script defer src="/static/js/index.js"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <data id="app">
      {% if not request.session.registered and request.path != '/' %}
        <div v-if="registerModal" class="modal is-active">
          <div class="modal-background" v-on:click="registerModal = false"></div>
          <div class="modal-content">
            <div class="field has-addons">
              <div class="control is-expanded">
                <input placeholder="Enter a nickname" id="username" type="text" class="input">
              </div>
              <div class="control">
                <a class="button is-info" v-on:click="registerUser">Enter</a>
              </div>
            </div>
          </div>
          <button v-on:click="registerModal = false" class="modal-close is-large" aria-label="close"></button>
        </div>
      {% endif %}

      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">

          <div class="navbar-start">
            <a class="navbar-item" href="/">
              <span class="navbar-logo mdi mdi-incognito"></span>
              Home
            </a>
          </div>

          {% if request.session.registered %}
            <div class="room-field field has-addons">
              <a v-bind:href="room = window.location.origin + '/{{ request.session.slug }}'">
                <div class="control is-expanded">
                  <input type="text" readonly="" id="chatroom" class="room-input input" v-bind:value="room">
                </div>
              </a>

              <div class="control">
                <a class="copy-button button is-info" v-on:click="copyChatRoom()">
                  Copy
                </a>
              </div>
            </div>

            <div class="navbar-end">
              <a href="/logout" class="button is-danger">
                {{ request.session.username }}
                <span class="logout-logo mdi mdi-run-fast"></span>
              </a>
            </div>
          {% elif request.path != '/' %}
            <div class="navbar-end"><a v-on:click="registerModal = true" class="button is-info">Register</a></div>
          {% endif %}
        </div>
      </nav>

      <section class="section">
        <div class="container">
          {% block content %}{% endblock %}
        </div>
      </section>
    </data>
  </body>
</html>
