.container {
  text-align: center;
}

::placeholder {
  color: #8c9b9d !important;
}

.input {
  background-color: #1f2424;
}

.logo {
  font-size: 4rem;
  bottom: -0.6rem;
  position: relative;
}

.button.is-info {
  background-color: #343c3d;
}

.input, .select select, .textarea {
  border-width: 0;
  background-color: #282f2f;
  color: white;
}

.input:active, .input:focus, .is-active.input, .is-active.textarea, .is-focused.input, .is-focused.textarea, .select select.is-active, .select select.is-focused, .select select:active, .select select:focus, .textarea:active, .textarea:focus {
  box-shadow: none;
}

.logo-navbar {
  font-size: 2rem;
  position: relative;
  bottom: 0.0rem;
  right: 0.3rem;
}

.navbar {
  background-color: #282f2f;
}

.navbar-logo {
  font-size: 1.9rem;
  margin-right: 0.3rem;
}

.logout-logo {
  font-size: 1.9rem;
  margin-left: 0.3rem;
}

.title {
  font-weight: bold;
}

.navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover {
  color: #53a9e2;
}

.is-danger {
  background-color: #E54B4B !important;
}

.navbar-brand {
  width: 100%;
}

.navbar-end {
  margin-top: 0.7rem;
  margin-left: auto;
  margin-right: 0.7rem;
}

.button.is-danger {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.room-field {
  margin-bottom: auto;
  margin-top: auto;
  width: 100%;
  margin-right: 0.7rem;
}

.room-input {
  color: #53A9E2;
  background-color: #343C3D;
  text-decoration: underline;
}

.copy-button {
  background-color: #1F2424 !important;
}
